@mixin gradient($color, $mix, $percent) {
  background: $color;
  background: -moz-linear-gradient(top, mix($mix, $color, $percent) 0%, $color 100%);
  background: -webkit-gradient(linear, left top, left bottom, mix($mix, $color, $percent), color-stop(100%, $color));
  background: -webkit-linear-gradient(top,  mix($mix, $color, $percent) 0%, $color 100%);
  background: -o-linear-gradient(top,  mix($mix, $color, $percent) 0%, $color 100%);
  background: -ms-linear-gradient(top,  mix($mix, $color, $percent) 0%, $color 100%);
  background: linear-gradient(to bottom,  mix($mix, $color, $percent) 0%, $color 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='mix($mix, $color, $percent)', endColorstr='$color',GradientType=0 );
}

@mixin button($color, $radius: 5px, $width: auto, $height: auto, $box-shadow: 0 2px 1px mix(#000, $color, 50%)) {
  color: #fff;
  padding: 12px 8px;
  border: none;
  outline: none;
  width: $width;
  height: $height;
  border-radius: $radius;
  line-height: $height;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  box-shadow: $box-shadow;
  display: block;
  float: left;
  clear: left;
  margin: 5px;
  @include gradient($color, #fff, 15%);

  &:hover {
    @include gradient($color, #fff, 25%);
    color: #fff;
  }

  &:active {
    transition: all 200ms ease-out;
    @include gradient($color, #000, 5%);
    border-top: 2px solid transparent;
    box-shadow: 0 0 0 transparent;
  }
}

$purple: #9A68C7;
$blue: #3BA9E4;
$green: #31A031;
$orange: #FF6A42;
$turquoise: #43ccb5;

.btn.purple { @include button($purple) }
.btn.blue { @include button($blue) }
.btn.green { @include button($green) }
.btn.orange { @include button($orange) }
.btn.turquoise { @include button($turquoise) }

.btn.large {
  font-size: 30px;
  padding: 15px 30px;
}

.btn.med {
  font-size: 25px;
  padding: 12px 25px;
}

.btn.small {
  font-size: 15px;
  padding: 7px 15px;
}

.btn.tiny {
  font-size: 10px;
  padding: 5px 10px;
}

.btn {
  padding: 5px 12px;
  font-size: 14px;
}

.btn.turquoise {
  padding: 20px 35px;
  font-size: 18px;
  border-radius: 25px;
}

.btn.turquoise {
  @include button($turquoise, 15px, auto, auto, 0 2px 1px mix(#fff, $turquoise, 50%));
}