.btn.purple {
  color: #fff;
  padding: 12px 8px;
  border: none;
  outline: none;
  width: auto;
  height: auto;
  border-radius: 5px;
  line-height: auto;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 2px 1px #4d3463;
  display: block;
  float: left;
  clear: left;
  margin: 5px;
  background: #9a68c7;
  background: -moz-linear-gradient(top, #a97ecf 0%, #9a68c7 100%);
  background: -webkit-gradient(linear, left top, left bottom, #a97ecf, color-stop(100%, #9a68c7));
  background: -webkit-linear-gradient(top, #a97ecf 0%, #9a68c7 100%);
  background: -o-linear-gradient(top, #a97ecf 0%, #9a68c7 100%);
  background: -ms-linear-gradient(top, #a97ecf 0%, #9a68c7 100%);
  background: linear-gradient(to bottom, #a97ecf 0%, #9a68c7 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='mix($mix, $color, $percent)', endColorstr='$color',GradientType=0 ); }
  .btn.purple:hover {
    background: #9a68c7;
    background: -moz-linear-gradient(top, #b38dd5 0%, #9a68c7 100%);
    background: -webkit-gradient(linear, left top, left bottom, #b38dd5, color-stop(100%, #9a68c7));
    background: -webkit-linear-gradient(top, #b38dd5 0%, #9a68c7 100%);
    background: -o-linear-gradient(top, #b38dd5 0%, #9a68c7 100%);
    background: -ms-linear-gradient(top, #b38dd5 0%, #9a68c7 100%);
    background: linear-gradient(to bottom, #b38dd5 0%, #9a68c7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='mix($mix, $color, $percent)', endColorstr='$color',GradientType=0 );
    color: #fff; }
  .btn.purple:active {
    transition: all 200ms ease-out;
    background: #9a68c7;
    background: -moz-linear-gradient(top, #9262bd 0%, #9a68c7 100%);
    background: -webkit-gradient(linear, left top, left bottom, #9262bd, color-stop(100%, #9a68c7));
    background: -webkit-linear-gradient(top, #9262bd 0%, #9a68c7 100%);
    background: -o-linear-gradient(top, #9262bd 0%, #9a68c7 100%);
    background: -ms-linear-gradient(top, #9262bd 0%, #9a68c7 100%);
    background: linear-gradient(to bottom, #9262bd 0%, #9a68c7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='mix($mix, $color, $percent)', endColorstr='$color',GradientType=0 );
    border-top: 2px solid transparent;
    box-shadow: 0 0 0 transparent; }

.btn.blue {
  color: #fff;
  padding: 12px 8px;
  border: none;
  outline: none;
  width: auto;
  height: auto;
  border-radius: 5px;
  line-height: auto;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 2px 1px #1d5472;
  display: block;
  float: left;
  clear: left;
  margin: 5px;
  background: #3ba9e4;
  background: -moz-linear-gradient(top, #58b5e8 0%, #3ba9e4 100%);
  background: -webkit-gradient(linear, left top, left bottom, #58b5e8, color-stop(100%, #3ba9e4));
  background: -webkit-linear-gradient(top, #58b5e8 0%, #3ba9e4 100%);
  background: -o-linear-gradient(top, #58b5e8 0%, #3ba9e4 100%);
  background: -ms-linear-gradient(top, #58b5e8 0%, #3ba9e4 100%);
  background: linear-gradient(to bottom, #58b5e8 0%, #3ba9e4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='mix($mix, $color, $percent)', endColorstr='$color',GradientType=0 ); }
  .btn.blue:hover {
    background: #3ba9e4;
    background: -moz-linear-gradient(top, #6cbeea 0%, #3ba9e4 100%);
    background: -webkit-gradient(linear, left top, left bottom, #6cbeea, color-stop(100%, #3ba9e4));
    background: -webkit-linear-gradient(top, #6cbeea 0%, #3ba9e4 100%);
    background: -o-linear-gradient(top, #6cbeea 0%, #3ba9e4 100%);
    background: -ms-linear-gradient(top, #6cbeea 0%, #3ba9e4 100%);
    background: linear-gradient(to bottom, #6cbeea 0%, #3ba9e4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='mix($mix, $color, $percent)', endColorstr='$color',GradientType=0 );
    color: #fff; }
  .btn.blue:active {
    transition: all 200ms ease-out;
    background: #3ba9e4;
    background: -moz-linear-gradient(top, #38a0d8 0%, #3ba9e4 100%);
    background: -webkit-gradient(linear, left top, left bottom, #38a0d8, color-stop(100%, #3ba9e4));
    background: -webkit-linear-gradient(top, #38a0d8 0%, #3ba9e4 100%);
    background: -o-linear-gradient(top, #38a0d8 0%, #3ba9e4 100%);
    background: -ms-linear-gradient(top, #38a0d8 0%, #3ba9e4 100%);
    background: linear-gradient(to bottom, #38a0d8 0%, #3ba9e4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='mix($mix, $color, $percent)', endColorstr='$color',GradientType=0 );
    border-top: 2px solid transparent;
    box-shadow: 0 0 0 transparent; }

.btn.green {
  color: #fff;
  padding: 12px 8px;
  border: none;
  outline: none;
  width: auto;
  height: auto;
  border-radius: 5px;
  line-height: auto;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 2px 1px #185018;
  display: block;
  float: left;
  clear: left;
  margin: 5px;
  background: #31a031;
  background: -moz-linear-gradient(top, #4fae4f 0%, #31a031 100%);
  background: -webkit-gradient(linear, left top, left bottom, #4fae4f, color-stop(100%, #31a031));
  background: -webkit-linear-gradient(top, #4fae4f 0%, #31a031 100%);
  background: -o-linear-gradient(top, #4fae4f 0%, #31a031 100%);
  background: -ms-linear-gradient(top, #4fae4f 0%, #31a031 100%);
  background: linear-gradient(to bottom, #4fae4f 0%, #31a031 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='mix($mix, $color, $percent)', endColorstr='$color',GradientType=0 ); }
  .btn.green:hover {
    background: #31a031;
    background: -moz-linear-gradient(top, #64b764 0%, #31a031 100%);
    background: -webkit-gradient(linear, left top, left bottom, #64b764, color-stop(100%, #31a031));
    background: -webkit-linear-gradient(top, #64b764 0%, #31a031 100%);
    background: -o-linear-gradient(top, #64b764 0%, #31a031 100%);
    background: -ms-linear-gradient(top, #64b764 0%, #31a031 100%);
    background: linear-gradient(to bottom, #64b764 0%, #31a031 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='mix($mix, $color, $percent)', endColorstr='$color',GradientType=0 );
    color: #fff; }
  .btn.green:active {
    transition: all 200ms ease-out;
    background: #31a031;
    background: -moz-linear-gradient(top, #2e982e 0%, #31a031 100%);
    background: -webkit-gradient(linear, left top, left bottom, #2e982e, color-stop(100%, #31a031));
    background: -webkit-linear-gradient(top, #2e982e 0%, #31a031 100%);
    background: -o-linear-gradient(top, #2e982e 0%, #31a031 100%);
    background: -ms-linear-gradient(top, #2e982e 0%, #31a031 100%);
    background: linear-gradient(to bottom, #2e982e 0%, #31a031 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='mix($mix, $color, $percent)', endColorstr='$color',GradientType=0 );
    border-top: 2px solid transparent;
    box-shadow: 0 0 0 transparent; }

.btn.orange {
  color: #fff;
  padding: 12px 8px;
  border: none;
  outline: none;
  width: auto;
  height: auto;
  border-radius: 5px;
  line-height: auto;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 2px 1px #7f3521;
  display: block;
  float: left;
  clear: left;
  margin: 5px;
  background: #ff6a42;
  background: -moz-linear-gradient(top, #ff805e 0%, #ff6a42 100%);
  background: -webkit-gradient(linear, left top, left bottom, #ff805e, color-stop(100%, #ff6a42));
  background: -webkit-linear-gradient(top, #ff805e 0%, #ff6a42 100%);
  background: -o-linear-gradient(top, #ff805e 0%, #ff6a42 100%);
  background: -ms-linear-gradient(top, #ff805e 0%, #ff6a42 100%);
  background: linear-gradient(to bottom, #ff805e 0%, #ff6a42 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='mix($mix, $color, $percent)', endColorstr='$color',GradientType=0 ); }
  .btn.orange:hover {
    background: #ff6a42;
    background: -moz-linear-gradient(top, #ff8f71 0%, #ff6a42 100%);
    background: -webkit-gradient(linear, left top, left bottom, #ff8f71, color-stop(100%, #ff6a42));
    background: -webkit-linear-gradient(top, #ff8f71 0%, #ff6a42 100%);
    background: -o-linear-gradient(top, #ff8f71 0%, #ff6a42 100%);
    background: -ms-linear-gradient(top, #ff8f71 0%, #ff6a42 100%);
    background: linear-gradient(to bottom, #ff8f71 0%, #ff6a42 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='mix($mix, $color, $percent)', endColorstr='$color',GradientType=0 );
    color: #fff; }
  .btn.orange:active {
    transition: all 200ms ease-out;
    background: #ff6a42;
    background: -moz-linear-gradient(top, #f2643e 0%, #ff6a42 100%);
    background: -webkit-gradient(linear, left top, left bottom, #f2643e, color-stop(100%, #ff6a42));
    background: -webkit-linear-gradient(top, #f2643e 0%, #ff6a42 100%);
    background: -o-linear-gradient(top, #f2643e 0%, #ff6a42 100%);
    background: -ms-linear-gradient(top, #f2643e 0%, #ff6a42 100%);
    background: linear-gradient(to bottom, #f2643e 0%, #ff6a42 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='mix($mix, $color, $percent)', endColorstr='$color',GradientType=0 );
    border-top: 2px solid transparent;
    box-shadow: 0 0 0 transparent; }

.btn.turquoise {
  color: #fff;
  padding: 12px 8px;
  border: none;
  outline: none;
  width: auto;
  height: auto;
  border-radius: 5px;
  line-height: auto;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 2px 1px #21665a;
  display: block;
  float: left;
  clear: left;
  margin: 5px;
  background: #43ccb5;
  background: -moz-linear-gradient(top, #5fd3c0 0%, #43ccb5 100%);
  background: -webkit-gradient(linear, left top, left bottom, #5fd3c0, color-stop(100%, #43ccb5));
  background: -webkit-linear-gradient(top, #5fd3c0 0%, #43ccb5 100%);
  background: -o-linear-gradient(top, #5fd3c0 0%, #43ccb5 100%);
  background: -ms-linear-gradient(top, #5fd3c0 0%, #43ccb5 100%);
  background: linear-gradient(to bottom, #5fd3c0 0%, #43ccb5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='mix($mix, $color, $percent)', endColorstr='$color',GradientType=0 ); }
  .btn.turquoise:hover {
    background: #43ccb5;
    background: -moz-linear-gradient(top, #72d8c7 0%, #43ccb5 100%);
    background: -webkit-gradient(linear, left top, left bottom, #72d8c7, color-stop(100%, #43ccb5));
    background: -webkit-linear-gradient(top, #72d8c7 0%, #43ccb5 100%);
    background: -o-linear-gradient(top, #72d8c7 0%, #43ccb5 100%);
    background: -ms-linear-gradient(top, #72d8c7 0%, #43ccb5 100%);
    background: linear-gradient(to bottom, #72d8c7 0%, #43ccb5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='mix($mix, $color, $percent)', endColorstr='$color',GradientType=0 );
    color: #fff; }
  .btn.turquoise:active {
    transition: all 200ms ease-out;
    background: #43ccb5;
    background: -moz-linear-gradient(top, #3fc1ab 0%, #43ccb5 100%);
    background: -webkit-gradient(linear, left top, left bottom, #3fc1ab, color-stop(100%, #43ccb5));
    background: -webkit-linear-gradient(top, #3fc1ab 0%, #43ccb5 100%);
    background: -o-linear-gradient(top, #3fc1ab 0%, #43ccb5 100%);
    background: -ms-linear-gradient(top, #3fc1ab 0%, #43ccb5 100%);
    background: linear-gradient(to bottom, #3fc1ab 0%, #43ccb5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='mix($mix, $color, $percent)', endColorstr='$color',GradientType=0 );
    border-top: 2px solid transparent;
    box-shadow: 0 0 0 transparent; }

.btn.large {
  font-size: 30px;
  padding: 15px 30px; }

.btn.med {
  font-size: 25px;
  padding: 12px 25px; }

.btn.small {
  font-size: 15px;
  padding: 7px 15px; }

.btn.tiny {
  font-size: 10px;
  padding: 5px 10px; }

.btn {
  padding: 5px 12px;
  font-size: 14px; }

.btn.turquoise {
  padding: 20px 35px;
  font-size: 18px;
  border-radius: 25px; }

.btn.turquoise {
  color: #fff;
  padding: 12px 8px;
  border: none;
  outline: none;
  width: auto;
  height: auto;
  border-radius: 15px;
  line-height: auto;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 2px 1px #a1e5da;
  display: block;
  float: left;
  clear: left;
  margin: 5px;
  background: #43ccb5;
  background: -moz-linear-gradient(top, #5fd3c0 0%, #43ccb5 100%);
  background: -webkit-gradient(linear, left top, left bottom, #5fd3c0, color-stop(100%, #43ccb5));
  background: -webkit-linear-gradient(top, #5fd3c0 0%, #43ccb5 100%);
  background: -o-linear-gradient(top, #5fd3c0 0%, #43ccb5 100%);
  background: -ms-linear-gradient(top, #5fd3c0 0%, #43ccb5 100%);
  background: linear-gradient(to bottom, #5fd3c0 0%, #43ccb5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='mix($mix, $color, $percent)', endColorstr='$color',GradientType=0 ); }
  .btn.turquoise:hover {
    background: #43ccb5;
    background: -moz-linear-gradient(top, #72d8c7 0%, #43ccb5 100%);
    background: -webkit-gradient(linear, left top, left bottom, #72d8c7, color-stop(100%, #43ccb5));
    background: -webkit-linear-gradient(top, #72d8c7 0%, #43ccb5 100%);
    background: -o-linear-gradient(top, #72d8c7 0%, #43ccb5 100%);
    background: -ms-linear-gradient(top, #72d8c7 0%, #43ccb5 100%);
    background: linear-gradient(to bottom, #72d8c7 0%, #43ccb5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='mix($mix, $color, $percent)', endColorstr='$color',GradientType=0 );
    color: #fff; }
  .btn.turquoise:active {
    transition: all 200ms ease-out;
    background: #43ccb5;
    background: -moz-linear-gradient(top, #3fc1ab 0%, #43ccb5 100%);
    background: -webkit-gradient(linear, left top, left bottom, #3fc1ab, color-stop(100%, #43ccb5));
    background: -webkit-linear-gradient(top, #3fc1ab 0%, #43ccb5 100%);
    background: -o-linear-gradient(top, #3fc1ab 0%, #43ccb5 100%);
    background: -ms-linear-gradient(top, #3fc1ab 0%, #43ccb5 100%);
    background: linear-gradient(to bottom, #3fc1ab 0%, #43ccb5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='mix($mix, $color, $percent)', endColorstr='$color',GradientType=0 );
    border-top: 2px solid transparent;
    box-shadow: 0 0 0 transparent; }
